Repository prasunmishra/myhealthvallet-f4sl2v, changes with the owners that .github/CODEOWNERS names for each.
All owners: @phrsat/lead-architects, @phrsat/security-team, @phrsat/android-team, @phrsat/mobile-leads, @phrsat/security-reviewers, @phrsat/ios-team, @phrsat/frontend-team, @phrsat/web-leads, @phrsat/backend-team, @phrsat/backend-leads, @phrsat/ml-team, @phrsat/data-security, @phrsat/devops-team, @phrsat/platform-leads, @phrsat/security-infrastructure, @phrsat/ci-leads, @phrsat/security-automation, @phrsat/compliance-team, @phrsat/qa-team, @phrsat/security-testing, @phrsat/auth-specialists, @phrsat/crypto-specialists, @phrsat/phi-handlers

.github/CODEOWNERS:

# Requires minimum 2 reviews and code owner approval
# Security-critical components require 3 reviews

# Default owners for any unmatched files
# Requires lead architect and security team review
* @phrsat/lead-architects @phrsat/security-team

# Mobile Applications
src/android/** @phrsat/android-team @phrsat/mobile-leads @phrsat/security-reviewers
src/ios/** @phrsat/ios-team @phrsat/mobile-leads @phrsat/security-reviewers
src/mobile/shared/** @phrsat/mobile-leads @phrsat/security-reviewers

# Web Application
src/web/** @phrsat/frontend-team @phrsat/web-leads @phrsat/security-reviewers

# Backend Services
src/backend/** @phrsat/backend-team @phrsat/backend-leads @phrsat/security-reviewers
src/backend/ml/** @phrsat/ml-team @phrsat/backend-leads @phrsat/data-security

# Infrastructure and DevOps
infrastructure/** @phrsat/devops-team @phrsat/platform-leads @phrsat/security-infrastructure
.github/workflows/** @phrsat/devops-team @phrsat/ci-leads @phrsat/security-automation

# Security-Critical Components (Require 3 Reviews)
src/backend/**/security/** @phrsat/security-team @phrsat/backend-leads @phrsat/compliance-team
src/**/tests/** @phrsat/qa-team @phrsat/security-testing
src/**/auth/** @phrsat/security-team @phrsat/auth-specialists
src/**/encryption/** @phrsat/security-team @phrsat/crypto-specialists

# Protected Health Information Handlers (Require 3 Reviews)
src/**/phi/** @phrsat/compliance-team @phrsat/security-team @phrsat/phi-handlers

Add public-samples/myhealthvallet-f4sl2v/src/backend/services/auth/oauth.py
  src/backend/services/auth/oauth.py
Owners: @phrsat/security-team, @phrsat/auth-specialists

Add public-samples/myhealthvallet-f4sl2v/src/backend/services/auth/permissions.py
  src/backend/services/auth/permissions.py
Owners: @phrsat/security-team, @phrsat/auth-specialists

Add public-samples/myhealthvallet-f4sl2v/src/backend/services/cache/__init__.py
  src/backend/services/cache/__init__.py
Owners: @phrsat/backend-team, @phrsat/backend-leads, @phrsat/security-reviewers

Add public-samples/myhealthvallet-f4sl2v/src/backend/services/cache/redis.py
  src/backend/services/cache/redis.py
Owners: @phrsat/backend-team, @phrsat/backend-leads, @phrsat/security-reviewers

Add public-samples/myhealthvallet-f4sl2v/src/backend/services/docs/__init__.py
  src/backend/services/docs/__init__.py
Owners: @phrsat/backend-team, @phrsat/backend-leads, @phrsat/security-reviewers

Add public-samples/myhealthvallet-f4sl2v/src/backend/services/docs/processor.py
  src/backend/services/docs/processor.py
Owners: @phrsat/backend-team, @phrsat/backend-leads, @phrsat/security-reviewers

Add public-samples/myhealthvallet-f4sl2v/src/backend/services/docs/storage.py
  src/backend/services/docs/storage.py
Owners: @phrsat/backend-team, @phrsat/backend-leads, @phrsat/security-reviewers

Add public-samples/myhealthvallet-f4sl2v/src/backend/services/health/__init__.py
  src/backend/services/health/__init__.py
Owners: @phrsat/backend-team, @phrsat/backend-leads, @phrsat/security-reviewers

Add public-samples/myhealthvallet-f4sl2v/src/backend/services/health/apple.py
  src/backend/services/health/apple.py
Owners: @phrsat/backend-team, @phrsat/backend-leads, @phrsat/security-reviewers

Add public-samples/myhealthvallet-f4sl2v/src/backend/services/health/fhir.py
  src/backend/services/health/fhir.py
Owners: @phrsat/backend-team, @phrsat/backend-leads, @phrsat/security-reviewers

Add public-samples/myhealthvallet-f4sl2v/src/backend/services/health/google.py
  src/backend/services/health/google.py
Owners: @phrsat/backend-team, @phrsat/backend-leads, @phrsat/security-reviewers

Add public-samples/myhealthvallet-f4sl2v/src/backend/services/integration/__init__.py
  src/backend/services/integration/__init__.py
Owners: @phrsat/backend-team, @phrsat/backend-leads, @phrsat/security-reviewers

Add public-samples/myhealthvallet-f4sl2v/src/backend/services/integration/client.py
  src/backend/services/integration/client.py
Owners: @phrsat/backend-team, @phrsat/backend-leads, @phrsat/security-reviewers

Add public-samples/myhealthvallet-f4sl2v/src/backend/services/integration/sync.py
  src/backend/services/integration/sync.py
Owners: @phrsat/backend-team, @phrsat/backend-leads, @phrsat/security-reviewers

Add public-samples/myhealthvallet-f4sl2v/src/backend/services/notifications/__init__.py
  src/backend/services/notifications/__init__.py
Owners: @phrsat/backend-team, @phrsat/backend-leads, @phrsat/security-reviewers

Add public-samples/myhealthvallet-f4sl2v/src/backend/services/notifications/email.py
  src/backend/services/notifications/email.py
Owners: @phrsat/backend-team, @phrsat/backend-leads, @phrsat/security-reviewers

Add public-samples/myhealthvallet-f4sl2v/src/backend/services/notifications/push.py
  src/backend/services/notifications/push.py
Owners: @phrsat/backend-team, @phrsat/backend-leads, @phrsat/security-reviewers

Add public-samples/myhealthvallet-f4sl2v/src/backend/services/notifications/sms.py
  src/backend/services/notifications/sms.py
Owners: @phrsat/backend-team, @phrsat/backend-leads, @phrsat/security-reviewers

Add public-samples/myhealthvallet-f4sl2v/src/backend/tests/__init__.py
  src/backend/tests/__init__.py
Owners: @phrsat/qa-team, @phrsat/security-testing

Add public-samples/myhealthvallet-f4sl2v/src/backend/tests/conftest.py
  src/backend/tests/conftest.py
Owners: @phrsat/qa-team, @phrsat/security-testing

Add public-samples/myhealthvallet-f4sl2v/src/backend/tests/integration/__init__.py
  src/backend/tests/integration/__init__.py
Owners: @phrsat/qa-team, @phrsat/security-testing

Add public-samples/myhealthvallet-f4sl2v/src/backend/tests/integration/test_auth.py
  src/backend/tests/integration/test_auth.py
Owners: @phrsat/qa-team, @phrsat/security-testing

Add public-samples/myhealthvallet-f4sl2v/src/backend/tests/integration/test_docs.py
  src/backend/tests/integration/test_docs.py
Owners: @phrsat/qa-team, @phrsat/security-testing

Add public-samples/myhealthvallet-f4sl2v/src/backend/tests/integration/test_health.py
  src/backend/tests/integration/test_health.py
Owners: @phrsat/qa-team, @phrsat/security-testing

Add public-samples/myhealthvallet-f4sl2v/src/backend/tests/integration/test_integration.py
  src/backend/tests/integration/test_integration.py
Owners: @phrsat/qa-team, @phrsat/security-testing

Add public-samples/myhealthvallet-f4sl2v/src/backend/tests/integration/test_notifications.py
  src/backend/tests/integration/test_notifications.py
Owners: @phrsat/qa-team, @phrsat/security-testing

Add public-samples/myhealthvallet-f4sl2v/src/backend/tests/unit/__init__.py
  src/backend/tests/unit/__init__.py
Owners: @phrsat/qa-team, @phrsat/security-testing

Add public-samples/myhealthvallet-f4sl2v/src/backend/tests/unit/test_auth.py
  src/backend/tests/unit/test_auth.py
Owners: @phrsat/qa-team, @phrsat/security-testing

Add public-samples/myhealthvallet-f4sl2v/src/backend/tests/unit/test_docs.py
  src/backend/tests/unit/test_docs.py
Owners: @phrsat/qa-team, @phrsat/security-testing

Add public-samples/myhealthvallet-f4sl2v/src/backend/tests/unit/test_health.py
  src/backend/tests/unit/test_health.py
Owners: @phrsat/qa-team, @phrsat/security-testing

Add public-samples/myhealthvallet-f4sl2v/src/backend/tests/unit/test_integration.py
  src/backend/tests/unit/test_integration.py
Owners: @phrsat/qa-team, @phrsat/security-testing

Add public-samples/myhealthvallet-f4sl2v/src/backend/tests/unit/test_ml.py
  src/backend/tests/unit/test_ml.py
Owners: @phrsat/qa-team, @phrsat/security-testing

Add public-samples/myhealthvallet-f4sl2v/src/backend/tests/unit/test_notifications.py
  src/backend/tests/unit/test_notifications.py
Owners: @phrsat/qa-team, @phrsat/security-testing

Add public-samples/myhealthvallet-f4sl2v/src/backend/tests/unit/test_utils.py
  src/backend/tests/unit/test_utils.py
Owners: @phrsat/qa-team, @phrsat/security-testing

Add public-samples/myhealthvallet-f4sl2v/src/backend/workers/__init__.py
  src/backend/workers/__init__.py
Owners: @phrsat/backend-team, @phrsat/backend-leads, @phrsat/security-reviewers

Add public-samples/myhealthvallet-f4sl2v/src/backend/workers/celery.py
  src/backend/workers/celery.py
Owners: @phrsat/backend-team, @phrsat/backend-leads, @phrsat/security-reviewers

Add public-samples/myhealthvallet-f4sl2v/src/backend/workers/tasks/__init__.py
  src/backend/workers/tasks/__init__.py
Owners: @phrsat/backend-team, @phrsat/backend-leads, @phrsat/security-reviewers

Add public-samples/myhealthvallet-f4sl2v/src/backend/workers/tasks/docs.py
  src/backend/workers/tasks/docs.py
Owners: @phrsat/backend-team, @phrsat/backend-leads, @phrsat/security-reviewers

Add public-samples/myhealthvallet-f4sl2v/src/backend/workers/tasks/health.py
  src/backend/workers/tasks/health.py
Owners: @phrsat/backend-team, @phrsat/backend-leads, @phrsat/security-reviewers

Add public-samples/myhealthvallet-f4sl2v/src/backend/workers/tasks/ml.py
  src/backend/workers/tasks/ml.py
Owners: @phrsat/backend-team, @phrsat/backend-leads, @phrsat/security-reviewers
