Repository prasunmishra/myhealthvallet-f4sl2v, changes with the owners that .github/CODEOWNERS names for each.
All owners: @phrsat/lead-architects, @phrsat/security-team, @phrsat/android-team, @phrsat/mobile-leads, @phrsat/security-reviewers, @phrsat/ios-team, @phrsat/frontend-team, @phrsat/web-leads, @phrsat/backend-team, @phrsat/backend-leads, @phrsat/ml-team, @phrsat/data-security, @phrsat/devops-team, @phrsat/platform-leads, @phrsat/security-infrastructure, @phrsat/ci-leads, @phrsat/security-automation, @phrsat/compliance-team, @phrsat/qa-team, @phrsat/security-testing, @phrsat/auth-specialists, @phrsat/crypto-specialists, @phrsat/phi-handlers

.github/CODEOWNERS:

# Requires minimum 2 reviews and code owner approval
# Security-critical components require 3 reviews

# Default owners for any unmatched files
# Requires lead architect and security team review
* @phrsat/lead-architects @phrsat/security-team

# Mobile Applications
src/android/** @phrsat/android-team @phrsat/mobile-leads @phrsat/security-reviewers
src/ios/** @phrsat/ios-team @phrsat/mobile-leads @phrsat/security-reviewers
src/mobile/shared/** @phrsat/mobile-leads @phrsat/security-reviewers

# Web Application
src/web/** @phrsat/frontend-team @phrsat/web-leads @phrsat/security-reviewers

# Backend Services
src/backend/** @phrsat/backend-team @phrsat/backend-leads @phrsat/security-reviewers
src/backend/ml/** @phrsat/ml-team @phrsat/backend-leads @phrsat/data-security

# Infrastructure and DevOps
infrastructure/** @phrsat/devops-team @phrsat/platform-leads @phrsat/security-infrastructure
.github/workflows/** @phrsat/devops-team @phrsat/ci-leads @phrsat/security-automation

# Security-Critical Components (Require 3 Reviews)
src/backend/**/security/** @phrsat/security-team @phrsat/backend-leads @phrsat/compliance-team
src/**/tests/** @phrsat/qa-team @phrsat/security-testing
src/**/auth/** @phrsat/security-team @phrsat/auth-specialists
src/**/encryption/** @phrsat/security-team @phrsat/crypto-specialists

# Protected Health Information Handlers (Require 3 Reviews)
src/**/phi/** @phrsat/compliance-team @phrsat/security-team @phrsat/phi-handlers

Add public-samples/myhealthvallet-f4sl2v/src/web/src/utils/validation.utils.ts
  src/web/src/utils/validation.utils.ts
Owners: @phrsat/frontend-team, @phrsat/web-leads, @phrsat/security-reviewers

Add public-samples/myhealthvallet-f4sl2v/src/web/tests/setup.ts
  src/web/tests/setup.ts
Owners: @phrsat/qa-team, @phrsat/security-testing

Add public-samples/myhealthvallet-f4sl2v/src/web/tests/components/analytics/HealthMetricsChart.test.tsx
  src/web/tests/components/analytics/HealthMetricsChart.test.tsx
Owners: @phrsat/qa-team, @phrsat/security-testing

Add public-samples/myhealthvallet-f4sl2v/src/web/tests/components/auth/LoginForm.test.tsx
  src/web/tests/components/auth/LoginForm.test.tsx
Owners: @phrsat/security-team, @phrsat/auth-specialists

Add public-samples/myhealthvallet-f4sl2v/src/web/tests/components/common/Button.test.tsx
  src/web/tests/components/common/Button.test.tsx
Owners: @phrsat/qa-team, @phrsat/security-testing

Add public-samples/myhealthvallet-f4sl2v/src/web/tests/components/documents/DocumentUploader.test.tsx
  src/web/tests/components/documents/DocumentUploader.test.tsx
Owners: @phrsat/qa-team, @phrsat/security-testing

Add public-samples/myhealthvallet-f4sl2v/src/web/tests/components/health/HealthDataSync.test.tsx
  src/web/tests/components/health/HealthDataSync.test.tsx
Owners: @phrsat/qa-team, @phrsat/security-testing

Add public-samples/myhealthvallet-f4sl2v/src/web/tests/hooks/useAuth.test.ts
  src/web/tests/hooks/useAuth.test.ts
Owners: @phrsat/qa-team, @phrsat/security-testing

Add public-samples/myhealthvallet-f4sl2v/src/web/tests/screens/dashboard/DashboardScreen.test.tsx
  src/web/tests/screens/dashboard/DashboardScreen.test.tsx
Owners: @phrsat/qa-team, @phrsat/security-testing

Add public-samples/myhealthvallet-f4sl2v/src/web/tests/services/api.service.test.ts
  src/web/tests/services/api.service.test.ts
Owners: @phrsat/qa-team, @phrsat/security-testing

Add public-samples/myhealthvallet-f4sl2v/src/web/tests/store/auth/auth.reducer.test.ts
  src/web/tests/store/auth/auth.reducer.test.ts
Owners: @phrsat/security-team, @phrsat/auth-specialists

Add public-samples/myhealthvallet-f4sl2v/src/web/tests/utils/validation.utils.test.ts
  src/web/tests/utils/validation.utils.test.ts
Owners: @phrsat/qa-team, @phrsat/security-testing
