Repository prasunmishra/myhealthvallet-f4sl2v, changes with the owners that .github/CODEOWNERS names for each.
All owners: @phrsat/lead-architects, @phrsat/security-team, @phrsat/android-team, @phrsat/mobile-leads, @phrsat/security-reviewers, @phrsat/ios-team, @phrsat/frontend-team, @phrsat/web-leads, @phrsat/backend-team, @phrsat/backend-leads, @phrsat/ml-team, @phrsat/data-security, @phrsat/devops-team, @phrsat/platform-leads, @phrsat/security-infrastructure, @phrsat/ci-leads, @phrsat/security-automation, @phrsat/compliance-team, @phrsat/qa-team, @phrsat/security-testing, @phrsat/auth-specialists, @phrsat/crypto-specialists, @phrsat/phi-handlers

.github/CODEOWNERS:

# Requires minimum 2 reviews and code owner approval
# Security-critical components require 3 reviews

# Default owners for any unmatched files
# Requires lead architect and security team review
* @phrsat/lead-architects @phrsat/security-team

# Mobile Applications
src/android/** @phrsat/android-team @phrsat/mobile-leads @phrsat/security-reviewers
src/ios/** @phrsat/ios-team @phrsat/mobile-leads @phrsat/security-reviewers
src/mobile/shared/** @phrsat/mobile-leads @phrsat/security-reviewers

# Web Application
src/web/** @phrsat/frontend-team @phrsat/web-leads @phrsat/security-reviewers

# Backend Services
src/backend/** @phrsat/backend-team @phrsat/backend-leads @phrsat/security-reviewers
src/backend/ml/** @phrsat/ml-team @phrsat/backend-leads @phrsat/data-security

# Infrastructure and DevOps
infrastructure/** @phrsat/devops-team @phrsat/platform-leads @phrsat/security-infrastructure
.github/workflows/** @phrsat/devops-team @phrsat/ci-leads @phrsat/security-automation

# Security-Critical Components (Require 3 Reviews)
src/backend/**/security/** @phrsat/security-team @phrsat/backend-leads @phrsat/compliance-team
src/**/tests/** @phrsat/qa-team @phrsat/security-testing
src/**/auth/** @phrsat/security-team @phrsat/auth-specialists
src/**/encryption/** @phrsat/security-team @phrsat/crypto-specialists

# Protected Health Information Handlers (Require 3 Reviews)
src/**/phi/** @phrsat/compliance-team @phrsat/security-team @phrsat/phi-handlers

Add public-samples/myhealthvallet-f4sl2v/src/ios/PHRSATHealthBridge/Storage/UserDefaultsManager.swift
  src/ios/PHRSATHealthBridge/Storage/UserDefaultsManager.swift
Owners: @phrsat/ios-team, @phrsat/mobile-leads, @phrsat/security-reviewers

Add public-samples/myhealthvallet-f4sl2v/src/ios/PHRSATHealthBridge/Utils/DateUtils.swift
  src/ios/PHRSATHealthBridge/Utils/DateUtils.swift
Owners: @phrsat/ios-team, @phrsat/mobile-leads, @phrsat/security-reviewers

Add public-samples/myhealthvallet-f4sl2v/src/ios/PHRSATHealthBridge/Utils/PermissionUtils.swift
  src/ios/PHRSATHealthBridge/Utils/PermissionUtils.swift
Owners: @phrsat/ios-team, @phrsat/mobile-leads, @phrsat/security-reviewers

Add public-samples/myhealthvallet-f4sl2v/src/ios/PHRSATHealthBridge/Utils/UnitConversionUtils.swift
  src/ios/PHRSATHealthBridge/Utils/UnitConversionUtils.swift
Owners: @phrsat/ios-team, @phrsat/mobile-leads, @phrsat/security-reviewers

Add public-samples/myhealthvallet-f4sl2v/src/ios/PHRSATHealthBridgeTests/BiometricAuthManagerTests.swift
  src/ios/PHRSATHealthBridgeTests/BiometricAuthManagerTests.swift
Owners: @phrsat/ios-team, @phrsat/mobile-leads, @phrsat/security-reviewers

Add public-samples/myhealthvallet-f4sl2v/src/ios/PHRSATHealthBridgeTests/DateUtilsTests.swift
  src/ios/PHRSATHealthBridgeTests/DateUtilsTests.swift
Owners: @phrsat/ios-team, @phrsat/mobile-leads, @phrsat/security-reviewers

Add public-samples/myhealthvallet-f4sl2v/src/ios/PHRSATHealthBridgeTests/EncryptionManagerTests.swift
  src/ios/PHRSATHealthBridgeTests/EncryptionManagerTests.swift
Owners: @phrsat/ios-team, @phrsat/mobile-leads, @phrsat/security-reviewers

Add public-samples/myhealthvallet-f4sl2v/src/ios/PHRSATHealthBridgeTests/HealthKitManagerTests.swift
  src/ios/PHRSATHealthBridgeTests/HealthKitManagerTests.swift
Owners: @phrsat/ios-team, @phrsat/mobile-leads, @phrsat/security-reviewers

Add public-samples/myhealthvallet-f4sl2v/src/ios/PHRSATHealthBridgeTests/HealthMetricTests.swift
  src/ios/PHRSATHealthBridgeTests/HealthMetricTests.swift
Owners: @phrsat/ios-team, @phrsat/mobile-leads, @phrsat/security-reviewers

Add public-samples/myhealthvallet-f4sl2v/src/ios/PHRSATHealthBridgeTests/Info.plist
  src/ios/PHRSATHealthBridgeTests/Info.plist
Owners: @phrsat/ios-team, @phrsat/mobile-leads, @phrsat/security-reviewers

Add public-samples/myhealthvallet-f4sl2v/src/ios/fastlane/Appfile
  src/ios/fastlane/Appfile
Owners: @phrsat/ios-team, @phrsat/mobile-leads, @phrsat/security-reviewers

Add public-samples/myhealthvallet-f4sl2v/src/ios/fastlane/Fastfile
  src/ios/fastlane/Fastfile
Owners: @phrsat/ios-team, @phrsat/mobile-leads, @phrsat/security-reviewers

Add public-samples/myhealthvallet-f4sl2v/src/ios/fastlane/Matchfile
  src/ios/fastlane/Matchfile
Owners: @phrsat/ios-team, @phrsat/mobile-leads, @phrsat/security-reviewers

Add public-samples/myhealthvallet-f4sl2v/src/web/.eslintrc.ts
  src/web/.eslintrc.ts
Owners: @phrsat/frontend-team, @phrsat/web-leads, @phrsat/security-reviewers

Add public-samples/myhealthvallet-f4sl2v/src/web/.gitignore
  src/web/.gitignore
Owners: @phrsat/frontend-team, @phrsat/web-leads, @phrsat/security-reviewers

Add public-samples/myhealthvallet-f4sl2v/src/web/.prettierrc
  src/web/.prettierrc
Owners: @phrsat/frontend-team, @phrsat/web-leads, @phrsat/security-reviewers

Add public-samples/myhealthvallet-f4sl2v/src/web/README.md
  src/web/README.md
Owners: @phrsat/frontend-team, @phrsat/web-leads, @phrsat/security-reviewers

Add public-samples/myhealthvallet-f4sl2v/src/web/babel.config.js
  src/web/babel.config.js
Owners: @phrsat/frontend-team, @phrsat/web-leads, @phrsat/security-reviewers

Add public-samples/myhealthvallet-f4sl2v/src/web/index.html
  src/web/index.html
Owners: @phrsat/frontend-team, @phrsat/web-leads, @phrsat/security-reviewers

Add public-samples/myhealthvallet-f4sl2v/src/web/jest.config.ts
  src/web/jest.config.ts
Owners: @phrsat/frontend-team, @phrsat/web-leads, @phrsat/security-reviewers

Add public-samples/myhealthvallet-f4sl2v/src/web/metro.config.js
  src/web/metro.config.js
Owners: @phrsat/frontend-team, @phrsat/web-leads, @phrsat/security-reviewers

Add public-samples/myhealthvallet-f4sl2v/src/web/package.json
  src/web/package.json
Owners: @phrsat/frontend-team, @phrsat/web-leads, @phrsat/security-reviewers

Add public-samples/myhealthvallet-f4sl2v/src/web/tsconfig.json
  src/web/tsconfig.json
Owners: @phrsat/frontend-team, @phrsat/web-leads, @phrsat/security-reviewers

Add public-samples/myhealthvallet-f4sl2v/src/web/src/App.tsx
  src/web/src/App.tsx
Owners: @phrsat/frontend-team, @phrsat/web-leads, @phrsat/security-reviewers

Add public-samples/myhealthvallet-f4sl2v/src/web/src/index.tsx
  src/web/src/index.tsx
Owners: @phrsat/frontend-team, @phrsat/web-leads, @phrsat/security-reviewers

Add public-samples/myhealthvallet-f4sl2v/src/web/src/assets/fonts/Roboto-Bold.ttf
  src/web/src/assets/fonts/Roboto-Bold.ttf
Owners: @phrsat/frontend-team, @phrsat/web-leads, @phrsat/security-reviewers

Add public-samples/myhealthvallet-f4sl2v/src/web/src/assets/fonts/Roboto-Regular.ttf
  src/web/src/assets/fonts/Roboto-Regular.ttf
Owners: @phrsat/frontend-team, @phrsat/web-leads, @phrsat/security-reviewers

Add public-samples/myhealthvallet-f4sl2v/src/web/src/assets/fonts/SFPro-Bold.ttf
  src/web/src/assets/fonts/SFPro-Bold.ttf
Owners: @phrsat/frontend-team, @phrsat/web-leads, @phrsat/security-reviewers

Add public-samples/myhealthvallet-f4sl2v/src/web/src/assets/fonts/SFPro-Regular.ttf
  src/web/src/assets/fonts/SFPro-Regular.ttf
Owners: @phrsat/frontend-team, @phrsat/web-leads, @phrsat/security-reviewers

Add public-samples/myhealthvallet-f4sl2v/src/web/src/assets/icons/app-icon.svg
  src/web/src/assets/icons/app-icon.svg
Owners: @phrsat/frontend-team, @phrsat/web-leads, @phrsat/security-reviewers

Add public-samples/myhealthvallet-f4sl2v/src/web/src/assets/icons/favicon.ico
  src/web/src/assets/icons/favicon.ico
Owners: @phrsat/frontend-team, @phrsat/web-leads, @phrsat/security-reviewers

Add public-samples/myhealthvallet-f4sl2v/src/web/src/assets/images/logo.svg
  src/web/src/assets/images/logo.svg
Owners: @phrsat/frontend-team, @phrsat/web-leads, @phrsat/security-reviewers

Add public-samples/myhealthvallet-f4sl2v/src/web/src/assets/images/placeholder.png
  src/web/src/assets/images/placeholder.png
Owners: @phrsat/frontend-team, @phrsat/web-leads, @phrsat/security-reviewers

Add public-samples/myhealthvallet-f4sl2v/src/web/src/components/analytics/HealthMetricsChart.tsx
  src/web/src/components/analytics/HealthMetricsChart.tsx
Owners: @phrsat/frontend-team, @phrsat/web-leads, @phrsat/security-reviewers

Add public-samples/myhealthvallet-f4sl2v/src/web/src/components/analytics/InsightCard.tsx
  src/web/src/components/analytics/InsightCard.tsx
Owners: @phrsat/frontend-team, @phrsat/web-leads, @phrsat/security-reviewers

Add public-samples/myhealthvallet-f4sl2v/src/web/src/components/analytics/MetricSelector.tsx
  src/web/src/components/analytics/MetricSelector.tsx
Owners: @phrsat/frontend-team, @phrsat/web-leads, @phrsat/security-reviewers

Add public-samples/myhealthvallet-f4sl2v/src/web/src/components/analytics/TrendAnalysis.tsx
  src/web/src/components/analytics/TrendAnalysis.tsx
Owners: @phrsat/frontend-team, @phrsat/web-leads, @phrsat/security-reviewers

Add public-samples/myhealthvallet-f4sl2v/src/web/src/components/auth/BiometricPrompt.tsx
  src/web/src/components/auth/BiometricPrompt.tsx
Owners: @phrsat/security-team, @phrsat/auth-specialists

Add public-samples/myhealthvallet-f4sl2v/src/web/src/components/auth/LoginForm.tsx
  src/web/src/components/auth/LoginForm.tsx
Owners: @phrsat/security-team, @phrsat/auth-specialists

Add public-samples/myhealthvallet-f4sl2v/src/web/src/components/auth/MFAVerification.tsx
  src/web/src/components/auth/MFAVerification.tsx
Owners: @phrsat/security-team, @phrsat/auth-specialists
