Repository prasunmishra/myhealthvallet-f4sl2v, changes with the owners that .github/CODEOWNERS names for each.
All owners: @phrsat/lead-architects, @phrsat/security-team, @phrsat/android-team, @phrsat/mobile-leads, @phrsat/security-reviewers, @phrsat/ios-team, @phrsat/frontend-team, @phrsat/web-leads, @phrsat/backend-team, @phrsat/backend-leads, @phrsat/ml-team, @phrsat/data-security, @phrsat/devops-team, @phrsat/platform-leads, @phrsat/security-infrastructure, @phrsat/ci-leads, @phrsat/security-automation, @phrsat/compliance-team, @phrsat/qa-team, @phrsat/security-testing, @phrsat/auth-specialists, @phrsat/crypto-specialists, @phrsat/phi-handlers

Add public-samples/myhealthvallet-f4sl2v/.github/pull_request_template.md
  .github/pull_request_template.md
Owners: @phrsat/lead-architects, @phrsat/security-team

Add public-samples/myhealthvallet-f4sl2v/.github/ISSUE_TEMPLATE/bug_report.md
  .github/ISSUE_TEMPLATE/bug_report.md
Owners: @phrsat/lead-architects, @phrsat/security-team

Add public-samples/myhealthvallet-f4sl2v/.github/ISSUE_TEMPLATE/feature_request.md
  .github/ISSUE_TEMPLATE/feature_request.md
Owners: @phrsat/lead-architects, @phrsat/security-team

Add public-samples/myhealthvallet-f4sl2v/.github/workflows/android.yml
  .github/workflows/android.yml
Owners: @phrsat/devops-team, @phrsat/ci-leads, @phrsat/security-automation

Add public-samples/myhealthvallet-f4sl2v/.github/workflows/backend.yml
  .github/workflows/backend.yml
Owners: @phrsat/devops-team, @phrsat/ci-leads, @phrsat/security-automation

Add public-samples/myhealthvallet-f4sl2v/.github/workflows/ios.yml
  .github/workflows/ios.yml
Owners: @phrsat/devops-team, @phrsat/ci-leads, @phrsat/security-automation

Add public-samples/myhealthvallet-f4sl2v/.github/workflows/web.yml
  .github/workflows/web.yml
Owners: @phrsat/devops-team, @phrsat/ci-leads, @phrsat/security-automation

Add public-samples/myhealthvallet-f4sl2v/documentation/Input Prompt.md
  documentation/Input Prompt.md
Owners: @phrsat/lead-architects, @phrsat/security-team

Add public-samples/myhealthvallet-f4sl2v/documentation/Product Requirements Document (PRD).md
  documentation/Product Requirements Document (PRD).md
Owners: @phrsat/lead-architects, @phrsat/security-team

Add public-samples/myhealthvallet-f4sl2v/documentation/Project Guide.md
  documentation/Project Guide.md
Owners: @phrsat/lead-architects, @phrsat/security-team

Add public-samples/myhealthvallet-f4sl2v/documentation/Technical Specifications.md
  documentation/Technical Specifications.md
Owners: @phrsat/lead-architects, @phrsat/security-team

Add public-samples/myhealthvallet-f4sl2v/infrastructure/docker/api/Dockerfile
  infrastructure/docker/api/Dockerfile
Owners: @phrsat/devops-team, @phrsat/platform-leads, @phrsat/security-infrastructure

Add public-samples/myhealthvallet-f4sl2v/infrastructure/docker/api/docker-compose.yml
  infrastructure/docker/api/docker-compose.yml
Owners: @phrsat/devops-team, @phrsat/platform-leads, @phrsat/security-infrastructure

Add public-samples/myhealthvallet-f4sl2v/infrastructure/docker/web/Dockerfile
  infrastructure/docker/web/Dockerfile
Owners: @phrsat/devops-team, @phrsat/platform-leads, @phrsat/security-infrastructure

Add public-samples/myhealthvallet-f4sl2v/infrastructure/docker/web/docker-compose.yml
  infrastructure/docker/web/docker-compose.yml
Owners: @phrsat/devops-team, @phrsat/platform-leads, @phrsat/security-infrastructure

Add public-samples/myhealthvallet-f4sl2v/infrastructure/docker/workers/Dockerfile
  infrastructure/docker/workers/Dockerfile
Owners: @phrsat/devops-team, @phrsat/platform-leads, @phrsat/security-infrastructure

Add public-samples/myhealthvallet-f4sl2v/infrastructure/docker/workers/docker-compose.yml
  infrastructure/docker/workers/docker-compose.yml
Owners: @phrsat/devops-team, @phrsat/platform-leads, @phrsat/security-infrastructure

Add public-samples/myhealthvallet-f4sl2v/infrastructure/kubernetes/apps/api/configmap.yaml
  infrastructure/kubernetes/apps/api/configmap.yaml
Owners: @phrsat/devops-team, @phrsat/platform-leads, @phrsat/security-infrastructure

Add public-samples/myhealthvallet-f4sl2v/infrastructure/kubernetes/apps/api/deployment.yaml
  infrastructure/kubernetes/apps/api/deployment.yaml
Owners: @phrsat/devops-team, @phrsat/platform-leads, @phrsat/security-infrastructure

Add public-samples/myhealthvallet-f4sl2v/infrastructure/kubernetes/apps/api/ingress.yaml
  infrastructure/kubernetes/apps/api/ingress.yaml
Owners: @phrsat/devops-team, @phrsat/platform-leads, @phrsat/security-infrastructure

Add public-samples/myhealthvallet-f4sl2v/infrastructure/kubernetes/apps/api/secret.yaml
  infrastructure/kubernetes/apps/api/secret.yaml
Owners: @phrsat/devops-team, @phrsat/platform-leads, @phrsat/security-infrastructure

Add public-samples/myhealthvallet-f4sl2v/infrastructure/kubernetes/apps/api/service.yaml
  infrastructure/kubernetes/apps/api/service.yaml
Owners: @phrsat/devops-team, @phrsat/platform-leads, @phrsat/security-infrastructure

Add public-samples/myhealthvallet-f4sl2v/infrastructure/kubernetes/apps/web/configmap.yaml
  infrastructure/kubernetes/apps/web/configmap.yaml
Owners: @phrsat/devops-team, @phrsat/platform-leads, @phrsat/security-infrastructure

Add public-samples/myhealthvallet-f4sl2v/infrastructure/kubernetes/apps/web/deployment.yaml
  infrastructure/kubernetes/apps/web/deployment.yaml
Owners: @phrsat/devops-team, @phrsat/platform-leads, @phrsat/security-infrastructure

Add public-samples/myhealthvallet-f4sl2v/infrastructure/kubernetes/apps/web/ingress.yaml
  infrastructure/kubernetes/apps/web/ingress.yaml
Owners: @phrsat/devops-team, @phrsat/platform-leads, @phrsat/security-infrastructure

Add public-samples/myhealthvallet-f4sl2v/infrastructure/kubernetes/apps/web/service.yaml
  infrastructure/kubernetes/apps/web/service.yaml
Owners: @phrsat/devops-team, @phrsat/platform-leads, @phrsat/security-infrastructure

Add public-samples/myhealthvallet-f4sl2v/infrastructure/kubernetes/apps/workers/configmap.yaml
  infrastructure/kubernetes/apps/workers/configmap.yaml
Owners: @phrsat/devops-team, @phrsat/platform-leads, @phrsat/security-infrastructure

Add public-samples/myhealthvallet-f4sl2v/infrastructure/kubernetes/apps/workers/deployment.yaml
  infrastructure/kubernetes/apps/workers/deployment.yaml
Owners: @phrsat/devops-team, @phrsat/platform-leads, @phrsat/security-infrastructure

Add public-samples/myhealthvallet-f4sl2v/infrastructure/kubernetes/base/kustomization.yaml
  infrastructure/kubernetes/base/kustomization.yaml
Owners: @phrsat/devops-team, @phrsat/platform-leads, @phrsat/security-infrastructure

Add public-samples/myhealthvallet-f4sl2v/infrastructure/kubernetes/base/namespace.yaml
  infrastructure/kubernetes/base/namespace.yaml
Owners: @phrsat/devops-team, @phrsat/platform-leads, @phrsat/security-infrastructure

Add public-samples/myhealthvallet-f4sl2v/infrastructure/kubernetes/monitoring/alertmanager/configmap.yaml
  infrastructure/kubernetes/monitoring/alertmanager/configmap.yaml
Owners: @phrsat/devops-team, @phrsat/platform-leads, @phrsat/security-infrastructure

Add public-samples/myhealthvallet-f4sl2v/infrastructure/kubernetes/monitoring/alertmanager/deployment.yaml
  infrastructure/kubernetes/monitoring/alertmanager/deployment.yaml
Owners: @phrsat/devops-team, @phrsat/platform-leads, @phrsat/security-infrastructure

Add public-samples/myhealthvallet-f4sl2v/infrastructure/kubernetes/monitoring/alertmanager/service.yaml
  infrastructure/kubernetes/monitoring/alertmanager/service.yaml
Owners: @phrsat/devops-team, @phrsat/platform-leads, @phrsat/security-infrastructure

Add public-samples/myhealthvallet-f4sl2v/infrastructure/kubernetes/monitoring/grafana/configmap.yaml
  infrastructure/kubernetes/monitoring/grafana/configmap.yaml
Owners: @phrsat/devops-team, @phrsat/platform-leads, @phrsat/security-infrastructure

Add public-samples/myhealthvallet-f4sl2v/infrastructure/kubernetes/monitoring/grafana/deployment.yaml
  infrastructure/kubernetes/monitoring/grafana/deployment.yaml
Owners: @phrsat/devops-team, @phrsat/platform-leads, @phrsat/security-infrastructure

Add public-samples/myhealthvallet-f4sl2v/infrastructure/kubernetes/monitoring/grafana/service.yaml
  infrastructure/kubernetes/monitoring/grafana/service.yaml
Owners: @phrsat/devops-team, @phrsat/platform-leads, @phrsat/security-infrastructure

Add public-samples/myhealthvallet-f4sl2v/infrastructure/kubernetes/monitoring/prometheus/configmap.yaml
  infrastructure/kubernetes/monitoring/prometheus/configmap.yaml
Owners: @phrsat/devops-team, @phrsat/platform-leads, @phrsat/security-infrastructure

Add public-samples/myhealthvallet-f4sl2v/infrastructure/kubernetes/monitoring/prometheus/deployment.yaml
  infrastructure/kubernetes/monitoring/prometheus/deployment.yaml
Owners: @phrsat/devops-team, @phrsat/platform-leads, @phrsat/security-infrastructure

Add public-samples/myhealthvallet-f4sl2v/infrastructure/kubernetes/monitoring/prometheus/service.yaml
  infrastructure/kubernetes/monitoring/prometheus/service.yaml
Owners: @phrsat/devops-team, @phrsat/platform-leads, @phrsat/security-infrastructure

Add public-samples/myhealthvallet-f4sl2v/infrastructure/kubernetes/overlays/dev/kustomization.yaml
  infrastructure/kubernetes/overlays/dev/kustomization.yaml
Owners: @phrsat/devops-team, @phrsat/platform-leads, @phrsat/security-infrastructure

.github/CODEOWNERS:

# Requires minimum 2 reviews and code owner approval
# Security-critical components require 3 reviews

# Default owners for any unmatched files
# Requires lead architect and security team review
* @phrsat/lead-architects @phrsat/security-team

# Mobile Applications
src/android/** @phrsat/android-team @phrsat/mobile-leads @phrsat/security-reviewers
src/ios/** @phrsat/ios-team @phrsat/mobile-leads @phrsat/security-reviewers
src/mobile/shared/** @phrsat/mobile-leads @phrsat/security-reviewers

# Web Application
src/web/** @phrsat/frontend-team @phrsat/web-leads @phrsat/security-reviewers

# Backend Services
src/backend/** @phrsat/backend-team @phrsat/backend-leads @phrsat/security-reviewers
src/backend/ml/** @phrsat/ml-team @phrsat/backend-leads @phrsat/data-security

# Infrastructure and DevOps
infrastructure/** @phrsat/devops-team @phrsat/platform-leads @phrsat/security-infrastructure
.github/workflows/** @phrsat/devops-team @phrsat/ci-leads @phrsat/security-automation

# Security-Critical Components (Require 3 Reviews)
src/backend/**/security/** @phrsat/security-team @phrsat/backend-leads @phrsat/compliance-team
src/**/tests/** @phrsat/qa-team @phrsat/security-testing
src/**/auth/** @phrsat/security-team @phrsat/auth-specialists
src/**/encryption/** @phrsat/security-team @phrsat/crypto-specialists

# Protected Health Information Handlers (Require 3 Reviews)
src/**/phi/** @phrsat/compliance-team @phrsat/security-team @phrsat/phi-handlers
