Repository prasunmishra/myhealthvallet-f4sl2v, changes with the owners that .github/CODEOWNERS names for each.
All owners: @phrsat/lead-architects, @phrsat/security-team, @phrsat/android-team, @phrsat/mobile-leads, @phrsat/security-reviewers, @phrsat/ios-team, @phrsat/frontend-team, @phrsat/web-leads, @phrsat/backend-team, @phrsat/backend-leads, @phrsat/ml-team, @phrsat/data-security, @phrsat/devops-team, @phrsat/platform-leads, @phrsat/security-infrastructure, @phrsat/ci-leads, @phrsat/security-automation, @phrsat/compliance-team, @phrsat/qa-team, @phrsat/security-testing, @phrsat/auth-specialists, @phrsat/crypto-specialists, @phrsat/phi-handlers

.github/CODEOWNERS:

# Requires minimum 2 reviews and code owner approval
# Security-critical components require 3 reviews

# Default owners for any unmatched files
# Requires lead architect and security team review
* @phrsat/lead-architects @phrsat/security-team

# Mobile Applications
src/android/** @phrsat/android-team @phrsat/mobile-leads @phrsat/security-reviewers
src/ios/** @phrsat/ios-team @phrsat/mobile-leads @phrsat/security-reviewers
src/mobile/shared/** @phrsat/mobile-leads @phrsat/security-reviewers

# Web Application
src/web/** @phrsat/frontend-team @phrsat/web-leads @phrsat/security-reviewers

# Backend Services
src/backend/** @phrsat/backend-team @phrsat/backend-leads @phrsat/security-reviewers
src/backend/ml/** @phrsat/ml-team @phrsat/backend-leads @phrsat/data-security

# Infrastructure and DevOps
infrastructure/** @phrsat/devops-team @phrsat/platform-leads @phrsat/security-infrastructure
.github/workflows/** @phrsat/devops-team @phrsat/ci-leads @phrsat/security-automation

# Security-Critical Components (Require 3 Reviews)
src/backend/**/security/** @phrsat/security-team @phrsat/backend-leads @phrsat/compliance-team
src/**/tests/** @phrsat/qa-team @phrsat/security-testing
src/**/auth/** @phrsat/security-team @phrsat/auth-specialists
src/**/encryption/** @phrsat/security-team @phrsat/crypto-specialists

# Protected Health Information Handlers (Require 3 Reviews)
src/**/phi/** @phrsat/compliance-team @phrsat/security-team @phrsat/phi-handlers

Add public-samples/myhealthvallet-f4sl2v/src/backend/api/notifications/services.py
  src/backend/api/notifications/services.py
Owners: @phrsat/backend-team, @phrsat/backend-leads, @phrsat/security-reviewers

Add public-samples/myhealthvallet-f4sl2v/src/backend/api/utils/__init__.py
  src/backend/api/utils/__init__.py
Owners: @phrsat/backend-team, @phrsat/backend-leads, @phrsat/security-reviewers

Add public-samples/myhealthvallet-f4sl2v/src/backend/api/utils/crypto.py
  src/backend/api/utils/crypto.py
Owners: @phrsat/backend-team, @phrsat/backend-leads, @phrsat/security-reviewers

Add public-samples/myhealthvallet-f4sl2v/src/backend/api/utils/datetime.py
  src/backend/api/utils/datetime.py
Owners: @phrsat/backend-team, @phrsat/backend-leads, @phrsat/security-reviewers

Add public-samples/myhealthvallet-f4sl2v/src/backend/api/utils/logging.py
  src/backend/api/utils/logging.py
Owners: @phrsat/backend-team, @phrsat/backend-leads, @phrsat/security-reviewers

Add public-samples/myhealthvallet-f4sl2v/src/backend/api/utils/validators.py
  src/backend/api/utils/validators.py
Owners: @phrsat/backend-team, @phrsat/backend-leads, @phrsat/security-reviewers

Add public-samples/myhealthvallet-f4sl2v/src/backend/core/__init__.py
  src/backend/core/__init__.py
Owners: @phrsat/backend-team, @phrsat/backend-leads, @phrsat/security-reviewers

Add public-samples/myhealthvallet-f4sl2v/src/backend/core/config.py
  src/backend/core/config.py
Owners: @phrsat/backend-team, @phrsat/backend-leads, @phrsat/security-reviewers

Add public-samples/myhealthvallet-f4sl2v/src/backend/core/constants.py
  src/backend/core/constants.py
Owners: @phrsat/backend-team, @phrsat/backend-leads, @phrsat/security-reviewers

Add public-samples/myhealthvallet-f4sl2v/src/backend/core/exceptions.py
  src/backend/core/exceptions.py
Owners: @phrsat/backend-team, @phrsat/backend-leads, @phrsat/security-reviewers

Add public-samples/myhealthvallet-f4sl2v/src/backend/core/logging.py
  src/backend/core/logging.py
Owners: @phrsat/backend-team, @phrsat/backend-leads, @phrsat/security-reviewers

Add public-samples/myhealthvallet-f4sl2v/src/backend/core/security.py
  src/backend/core/security.py
Owners: @phrsat/backend-team, @phrsat/backend-leads, @phrsat/security-reviewers

Add public-samples/myhealthvallet-f4sl2v/src/backend/core/telemetry.py
  src/backend/core/telemetry.py
Owners: @phrsat/backend-team, @phrsat/backend-leads, @phrsat/security-reviewers

Add public-samples/myhealthvallet-f4sl2v/src/backend/core/db/__init__.py
  src/backend/core/db/__init__.py
Owners: @phrsat/backend-team, @phrsat/backend-leads, @phrsat/security-reviewers

Add public-samples/myhealthvallet-f4sl2v/src/backend/core/db/base.py
  src/backend/core/db/base.py
Owners: @phrsat/backend-team, @phrsat/backend-leads, @phrsat/security-reviewers

Add public-samples/myhealthvallet-f4sl2v/src/backend/core/db/session.py
  src/backend/core/db/session.py
Owners: @phrsat/backend-team, @phrsat/backend-leads, @phrsat/security-reviewers

Add public-samples/myhealthvallet-f4sl2v/src/backend/core/db/migrations/__init__.py
  src/backend/core/db/migrations/__init__.py
Owners: @phrsat/backend-team, @phrsat/backend-leads, @phrsat/security-reviewers

Add public-samples/myhealthvallet-f4sl2v/src/backend/core/db/migrations/env.py
  src/backend/core/db/migrations/env.py
Owners: @phrsat/backend-team, @phrsat/backend-leads, @phrsat/security-reviewers

Add public-samples/myhealthvallet-f4sl2v/src/backend/core/db/migrations/script.py.mako
  src/backend/core/db/migrations/script.py.mako
Owners: @phrsat/backend-team, @phrsat/backend-leads, @phrsat/security-reviewers

Add public-samples/myhealthvallet-f4sl2v/src/backend/ml/__init__.py
  src/backend/ml/__init__.py
Owners: @phrsat/ml-team, @phrsat/backend-leads, @phrsat/data-security

Add public-samples/myhealthvallet-f4sl2v/src/backend/ml/document/__init__.py
  src/backend/ml/document/__init__.py
Owners: @phrsat/ml-team, @phrsat/backend-leads, @phrsat/data-security

Add public-samples/myhealthvallet-f4sl2v/src/backend/ml/document/classifier.py
  src/backend/ml/document/classifier.py
Owners: @phrsat/ml-team, @phrsat/backend-leads, @phrsat/data-security

Add public-samples/myhealthvallet-f4sl2v/src/backend/ml/document/extractor.py
  src/backend/ml/document/extractor.py
Owners: @phrsat/ml-team, @phrsat/backend-leads, @phrsat/data-security

Add public-samples/myhealthvallet-f4sl2v/src/backend/ml/document/ocr.py
  src/backend/ml/document/ocr.py
Owners: @phrsat/ml-team, @phrsat/backend-leads, @phrsat/data-security

Add public-samples/myhealthvallet-f4sl2v/src/backend/ml/document/preprocessor.py
  src/backend/ml/document/preprocessor.py
Owners: @phrsat/ml-team, @phrsat/backend-leads, @phrsat/data-security

Add public-samples/myhealthvallet-f4sl2v/src/backend/ml/health/__init__.py
  src/backend/ml/health/__init__.py
Owners: @phrsat/ml-team, @phrsat/backend-leads, @phrsat/data-security

Add public-samples/myhealthvallet-f4sl2v/src/backend/ml/health/analyzer.py
  src/backend/ml/health/analyzer.py
Owners: @phrsat/ml-team, @phrsat/backend-leads, @phrsat/data-security

Add public-samples/myhealthvallet-f4sl2v/src/backend/ml/health/predictor.py
  src/backend/ml/health/predictor.py
Owners: @phrsat/ml-team, @phrsat/backend-leads, @phrsat/data-security

Add public-samples/myhealthvallet-f4sl2v/src/backend/ml/health/preprocessor.py
  src/backend/ml/health/preprocessor.py
Owners: @phrsat/ml-team, @phrsat/backend-leads, @phrsat/data-security

Add public-samples/myhealthvallet-f4sl2v/src/backend/ml/health/trainer.py
  src/backend/ml/health/trainer.py
Owners: @phrsat/ml-team, @phrsat/backend-leads, @phrsat/data-security

Add public-samples/myhealthvallet-f4sl2v/src/backend/ml/models/__init__.py
  src/backend/ml/models/__init__.py
Owners: @phrsat/ml-team, @phrsat/backend-leads, @phrsat/data-security

Add public-samples/myhealthvallet-f4sl2v/src/backend/ml/models/document_classifier.py
  src/backend/ml/models/document_classifier.py
Owners: @phrsat/ml-team, @phrsat/backend-leads, @phrsat/data-security

Add public-samples/myhealthvallet-f4sl2v/src/backend/ml/models/health_predictor.py
  src/backend/ml/models/health_predictor.py
Owners: @phrsat/ml-team, @phrsat/backend-leads, @phrsat/data-security

Add public-samples/myhealthvallet-f4sl2v/src/backend/ml/utils/__init__.py
  src/backend/ml/utils/__init__.py
Owners: @phrsat/ml-team, @phrsat/backend-leads, @phrsat/data-security

Add public-samples/myhealthvallet-f4sl2v/src/backend/ml/utils/data.py
  src/backend/ml/utils/data.py
Owners: @phrsat/ml-team, @phrsat/backend-leads, @phrsat/data-security

Add public-samples/myhealthvallet-f4sl2v/src/backend/ml/utils/metrics.py
  src/backend/ml/utils/metrics.py
Owners: @phrsat/ml-team, @phrsat/backend-leads, @phrsat/data-security

Add public-samples/myhealthvallet-f4sl2v/src/backend/ml/utils/visualization.py
  src/backend/ml/utils/visualization.py
Owners: @phrsat/ml-team, @phrsat/backend-leads, @phrsat/data-security

Add public-samples/myhealthvallet-f4sl2v/src/backend/services/__init__.py
  src/backend/services/__init__.py
Owners: @phrsat/backend-team, @phrsat/backend-leads, @phrsat/security-reviewers

Add public-samples/myhealthvallet-f4sl2v/src/backend/services/auth/__init__.py
  src/backend/services/auth/__init__.py
Owners: @phrsat/security-team, @phrsat/auth-specialists

Add public-samples/myhealthvallet-f4sl2v/src/backend/services/auth/jwt.py
  src/backend/services/auth/jwt.py
Owners: @phrsat/security-team, @phrsat/auth-specialists
